body{
    margin: 0px 0px;
    background-color: #D1FFF3;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin-block: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    color: #609EA2;
    line-height: 2;
}
h2{
    text-decoration-color: green;
    text-size-adjust: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 2rem;  
    color: #609EA2;
    font-weight: normal;
}
h3{
    text-decoration-color: green;
    font-family: 'Montserrat', sans-serif;
    color: #3C84AB;
    line-height: 2;
}

#heading{
    text-align: center;
    display: block;
    padding-top: 100px;
}
/*
.clouds{
    background: #B9F3FC url("cloud.png") repeat-x scroll top;
}*/
.topContainer{
    background-color: #D1FFF3;
    padding-top: 100px;
}
#position{
    text-align: center;
}
.middleContainer{
    text-align: center;

}
.bottom-cloud{
    position: absolute;
    display: block;
    position: absolute;
    left: 300px;
    width: 12%;
    height: auto;
}
.top-cloud{
    position: absolute;
    right: 15%;
    top: 150px;
    display: block;
    width: 12%;
    height: auto;
}
.footer-link{
    color: #3C84AB;
}
.skill-row{
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.java-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.AWS-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.design-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
/*
.java-skill-description{
clear: left;
}
.AWS-skill-description{
clear: right;
}*/
.profile{
    margin: 100px auto;
    width: 50%;
    line-height: 2;
}