body{
    margin: 0px 0px;
    background-color: #B9F3FC;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin-block: 0px;
    font-family: 'Sacramento', cursive;
}
h3{
    text-decoration-color: green;
    text-size-adjust: 20px;
    font-family: 'Montserrat', sans-serif;
}
#heading{
    text-align: center;
    display: block;
}
/*
.clouds{
    background: #B9F3FC url("cloud.png") repeat-x scroll top;
}*/
.topContainer{
    background-color: #B9F3FC;
    padding-top: 100px;
}
#position{
    text-align: center;
    
}
.middleContainer{
    text-align: center;

}
.bottom-cloud{
    position: absolute;
}
.top-cloud{
    position: absolute;
    right: 15%;
    display: block;
}